<div class="row">
    <!--
    <div class="col-xs-12 col-md-4 counter-time">
        <panel-currency title="{{lastRefreshedDate | date:'dd/MM/yyyy'}}" value="lastRefreshedDate | date:'HH:mm.ss'"  icon="glyphicon-time"></panel-currency>
    </div>
    -->
    <div class="col-xs-12 col-md-4 reserve" >
        <panel-currency 
            title="Réserve" 
            value="balance['ZEUR'].valueeuro" 
            icon="glyphicon-euro" 
            xl="true"
            nb-decimal="2"></panel-currency>
    </div>
    
    <div class="col-xs-12 col-md-4 counter-total">
        <panel-currency 
                        title="Solde" 
                        current-ticker="balanceTotal" 
                        previous-ticker="totalDeposite" 
                        value="(balanceTotal - totalDeposite> 0? '+' : '') + ((balanceTotal - totalDeposite))" 
                        icon="glyphicon-euro"
                        enable-color="true"
                        xl="true"
                        nb-decimal="0"></panel-currency>
    </div>
<!--     
</div>
<div class="row">
-->
    <div class="col-xs-12 col-md-4 balance-ticker" 
         ng-class="{'selected': tick.selected}"
         ng-repeat="tick in tickers | filter:{label: 'XXBTZEUR'} | mainTickers">
        <panel-currency 
            title="{{currenciesService.formatTitleFromPair(tick.label)}}" 
            value="tick.balance.valueeuro" 
            previous-value="equity[currenciesService.pretifyPairXBT(tick.label)].spent" 
            enable-gain="true"
            icon="glyphicon-bitcoin" 
            subvalue="tick.balance.value"
            current-ticker="currenciesService.price(tick)"
            current-ticker-base="currenciesService.bid(tick)"   
            previous-ticker="currenciesService.open(tick)"
            xl="true"
            ng-click="tickerClick(tick)"
            nb-decimal="2"></panel-currency>
    </div>
</div>
<div class="row">
    <panel class="container-altcoin col-xs-12" title="balanceTotalAltcoin | currency">
        <div class="col-xs-12 col-md-4 balance-ticker" 
             ng-class="{'selected': tick.selected}"
             ng-repeat="tick in tickers | filter:{label: '!XXBTZEUR'} | mainTickers">
            <panel-currency 
                title="{{currenciesService.formatTitleFromPair(tick.label)}}" 
                value="tick.balance ? tick.balance.valueeuro : null" 
                previous-value="equity[currenciesService.pretifyPairXBT(tick.label)].spent" 
                enable-gain="true"
                icon="glyphicon-bitcoin" 
                subvalue="tick.balance ? tick.balance.value : null"
                current-ticker="currenciesService.price(tick)"
                current-ticker-base="currenciesService.bid(tick)"   
                previous-ticker="currenciesService.open(tick)"
                xl="true"
                ng-click="tickerClick(tick)"
                last-bot-rate="tick.bot_last_top"
                last-bot-ratio="tick.bot_ratio"
                nb-decimal="7"></panel-currency>
        </div>
    </panel>
</div>
<!--
</div>
<div class="row">

    <div class="col-xs-12 col-md-4 ticker" 
         ng-repeat="tick in tickers | otherTickers | orderBy:'rate':-1"
         ng-class="{'selected': tick.selected}">
        <panel-currency 
            title="{{currenciesService.formatTitleFromPair(tick.label)}}" 
            icon="glyphicon-bitcoin" 
            value="equity[currenciesService.pretifyPairXBT(tick.label)].sell" 
            hide-value="true"
            previous-value="equity[currenciesService.pretifyPairXBT(tick.label)].buy" 
            enable-gain="true"
            current-ticker="currenciesService.price(tick)"
            current-ticker-base="currenciesService.bid(tick)"
            previous-ticker="currenciesService.open(tick)"
            ng-click="tickerClick(tick)"></panel-currency>
    </div>
</div>


<div class="row">
    <panel-order ></panel-order>
</div>
-->

<div class="row">
    <div class="col-md-6">    
        <panel class="no-padding">
            <kraken-chart pair="chartPair" duration="chartDuration" ></kraken-chart>
        </panel>
    
    </div>
    
    <div class="col-md-6">
        
        <panel class="no-padding" ng-if="openOrders.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Pair</th>
                        <th >Volume</th>
                        <th >Market</th>
                        <th >Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in openOrders | limitTo:5" ng-class="{'danger': order.descr.type == 'sell', 'success': order.descr.type == 'buy'}">
                        <td >{{order.descr.pair.replace("EUR", "")}}</td>
                        <td >{{order.vol | number}}</td>
                        <td>{{order.descr.price | number}}</td>
                        <td>{{order.descr.price * order.vol | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </panel>
        
        <panel class="no-padding">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rate</th>
                        <!--
                        <th>Benefit</th>
                        -->
                        <th class="hidden-xs">Date</th>
                        <th >Pair</th>
                        <th>Coût</th>
                        <th>Market</th>
                        <th >Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in closedOrders | closedOrders | limitTo:30" ng-class="{'danger': order.descr.type == 'sell', 'success': order.descr.type == 'buy'}">
                        <td>
                            <moveable-value
                                current="currenciesService.price(ticker[currenciesService.formatFromOrder(order.descr.pair)])" previous="order.price">{{realCost(order.descr.pair, (currenciesService.bid(ticker[currenciesService.formatFromOrder(order.descr.pair)])*order.vol))-realCost(order.descr.pair, order.price*order.vol) | currency}}
                            </moveable-value>
                        </td>
                        <!-- 
                        <td>{{ | number}} €</td>
                        -->
                        <td class="hidden-xs">{{order.date | date:'dd/MM/yyyy'}}</td>
                        <td >{{order.descr.pair.replace("EUR", "")}}</td>
                        <td>{{realCost(order.descr.pair, order.cost) | currency}}</td>
                        <td >{{order.price}}</td>
                        <td >{{order.vol | number}}</td>
                    </tr>
                </tbody>
            </table>
        </panel>
        
    </div>
</div>


